/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Poppins&display=swap');

/* Common Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

/* header part */
.top-banner {
    width: 1140px;
    height: 646px;
    margin: 50px auto;
    background-color: black;
    border-radius: 30px;
    display: flex;
}

.top-blog {
    width: 481px;
    height: 424px;
    margin-top: 111px;
    margin-right: 14px;
    margin-bottom: 80px;
    padding-top: 40px;
    padding-bottom: 30px;
    margin-left: 59px;
}

.top-title {
    font-size: 55px;
    line-height: 70px;
}

.tickets {
    text-decoration: none;
    padding: 8px 16px;
    background-color: #DD0000;
    border-radius: 5px;
}

.fa-greater-than {
    margin-left: 8px;
}

.white-color {
    color: white;
}

.top-player {
    width: 531px;
    height: 613px;
    margin-top: 87px;
    margin-right: 45px;
    margin-bottom: 0;
}

.top-player img {
    width: 100%;
}